{#
/**
 * @file commerce_stock_transaction.html.twig
 * Default theme implementation to present Stock transaction data.
 *
 * This template is used when viewing Stock transaction pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_stock_transaction()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce_stock_transaction') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
